@import "../var/var";
@import "../var/functions";
@import "../mixin/font-mixin";
@import "../mixin/mixins";

.article{
    @include param(padding-bottom,150,80);
    @include param(padding-top,78,51);
    .h1{
        @include param(margin-bottom,80,32);
    }
    .h2{
        @include param(margin-bottom,32,24);
        @include font(700,32,44,32,44);
    }
    .container{
        position: relative;
        @include param(padding-left,76,0);
        @include param(padding-right,74,0);
        &::before{
            content: '';
            background: url(../img/template/bgAngle8.svg) no-repeat;
            background-size: contain;
            @include param(width,1018,0);
            @include param(height,2059,0);
            @include param(left,-88,0);
            @include param(top,60,0);
            position: absolute;
            display: inline-block;
            z-index: -1;
            @media screen and (max-width: 1024px) {
                content: none;
            }
            @media screen and (min-width: 1440px) {
                left: calc( -1 * (100vw - 1264px) / 2 );
            }
        }
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        @include param(row-gap,64,32);
        & > ul{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr;
            @include param(row-gap,16,16);
            width: 100%;
            li{
                position: relative;
                @include param(padding-right,36,36);
            }
            li::before {
                content: '';
                display: inline-flex;
                @include param(width,24,24);
                @include param(height,24,24);
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                background: url(../img/template/ul1.svg) no-repeat;
                background-size: contain;
                right: 0;
                position: absolute;
                display: inline-flex;
            }
        }
    }
    &__desc{
        display: grid;
        grid-template-columns: 1fr;
        @include param(row-gap,16,16);
        @include font(400,20,30,18,30);
    }
    &__img{
        @include param(border-top-right-radius,48,48);
        @include param(border-bottom-left-radius,48,48);
        overflow: hidden;
        display: flex;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__img2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include param(column-gap,64,16);
        .article__img{
            @include param(border-top-right-radius,32,12);
            @include param(border-bottom-left-radius,32,12);
        }
        img{
            @include param(height,450,209);
            object-fit: cover;
        }
    }
    .blog{
        &__list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @include param(row-gap,80,32);
            @include param(column-gap,40,0);
            @media screen and (max-width: 1024px) {
                grid-template-columns: 1fr;
            }
        }
        &__item{
            border: 1px solid #EEEEF2;
            width: 100%;
            @include param(border-width,1,1);
            @include param(padding-bottom,32,32);
            @include param(border-top-right-radius,50,45);
            @include param(border-bottom-left-radius,50,45);
            background: #fff;
            display: flex;
            flex-direction: column;
            position: relative;
            direction: rtl;
            overflow: hidden;
            @media screen and (max-width: 1024px) {
                overflow: hidden;
            }
            &__img{
                @include param(border-bottom-left-radius,65,45);
                width: 100%;
                @include param(height,205,205);
                @include param(margin-bottom,24,24);
                display: inline-flex;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__desc{
                @include param(margin-bottom,14,18);
            }
            &__date{
                @include font(500,16,24,16,24);
                color: #3B2463;
                display: inline-flex;
                align-items: center;
                &::before{
                    content: '';
                    @include param(width,14.4,14.4);
                    @include param(height,16,16);
                    @include param(margin-left,8,8);
                    display: inline-block;
                    background: url(../img/template/date.svg) no-repeat;
                    background-size: contain;
                }
            }
            &__info{
                display: grid;
                grid-template-columns: 1fr;
                @include param(row-gap,9,7);
                @include font(500,18,23.44,18,23.44);
                color: #828282;
                @include param(padding-left,24,24);
                @include param(padding-right,24,24);
                .h3{
                    @include font(700,24,36,24,36);
                }
            }
        }
    }
}
.div4{
    &__wrapper{
        position: relative;
        @include param(min-height,720,0);
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            background: $green;
            overflow: hidden;
            border-top-left-radius: mb(45);
            border-bottom-right-radius: mb(45);
        }
    }
    .h2{
        @include param(margin-bottom,24,27);
    }
    &__desc{
        @include font(400,24,32,20,30);
        @include param(margin-bottom,32,24);
        color: #4F4F4F;
    }
    &__info{
        @include param(width,816,335);
        @include param(min-height,678,0);
        overflow: hidden;
        position: relative;
        z-index: 0;
        color: #1D1D1B;
        @include param(padding-top,70,47);
        @include param(padding-bottom,70,61);
        @include param(padding-left,219,20);
        @include param(padding-right,64,20);
        @media screen and (max-width: 1024px) {
            z-index: 1;
        }
        &::before{
            content: '';
            background: url(../img/template/photoGreen1.svg) no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 0;
            @include param(width,814,0);
            @include param(height,660,0);
            z-index: -1;
        }
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr;
            @include param(row-gap,16,16);
            @include param(width,508,295);
            @include param(margin-bottom,32,24);
            li{
                position: relative;
                @include param(padding-right,36,36);
            }
            li::before {
                content: '';
                display: inline-flex;
                @include param(width,24,24);
                @include param(height,24,24);
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                background: url(../img/template/ul.svg) no-repeat;
                background-size: contain;
                right: 0;
                position: absolute;
                display: inline-flex;
            }
        }
    }
    &__img{
        position: absolute;
        left: 0;
        @include param(top,100,0);
        z-index: -1;
        @media screen and (max-width: 1024px) {
            position: relative;
            margin-top: mb(-130);
            z-index: 0;
        }
        .photo_green{
            @include param(width,585,375);
            .photo__wrapper::after {
                border-width: 0 dp(263) dp(621) 0;
                @media screen and (max-width: 1024px) {
                    border-width: mb(159) mb(444) 0 0;
                }
                @media screen and (min-width: 1440px){
                    border-width: 0 263px 621px 0;
                }
            }
        }
    }
}