@import "../var/var";
@import "../var/functions";
@import "../mixin/font-mixin";
@import "../mixin/mixins";

.pr{
    @include param(padding-bottom,150,81);
    @include param(padding-top,79,25);
    .h1{
        @include param(margin-bottom,80,0);
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        @include param(row-gap,150,80);
    }
    &__section1{
        @include param(width,1264,335);
        .h2{
            @include param(margin-bottom,24,16);
        }
        &__desc{
            @include param(margin-bottom,64,32);
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            @include param(row-gap,40,0);
            @include param(column-gap,32,0);
            direction: ltr;
            @media screen and (max-width: 1024px) {
                display: flex;
            }
            .owl-stage{
                @media screen and (min-width: 1025px) {
                    display: grid;
                    grid-template-columns: repeat(6,1fr);
                }
                @include param(row-gap,40,0);
                @include param(column-gap,32,0);
            }
            .owl-item{
                &:nth-child(1),&:nth-child(4){
                    @media screen and (min-width: 1025px) {
                        grid-column: 1/3;
                    }
                }
                &:nth-child(2),&:nth-child(5){
                    @media screen and (min-width: 1025px) {
                        grid-column: 3/5;
                    }
                }
                &:nth-child(3),&:nth-child(6){
                    @media screen and (min-width: 1025px) {
                        grid-column: 5/7;
                    }
                }
            }
            &_2{
                .pr__section1__item:nth-child(4){
                    grid-column: 1/4;
                }
                .pr__section1__item:nth-child(5){
                    grid-column: 4/7;
                }
                .owl-item:nth-child(4){
                    @media screen and (min-width: 1025px) {
                        grid-column: 1/4;
                    }
                }
                .owl-item:nth-child(5){
                    @media screen and (min-width: 1025px) {
                        grid-column: 4/7;
                    }
                }
            }
        }
        &__item{
            direction: rtl;
            display: flex;
            flex-direction: column;
            &:nth-child(1),&:nth-child(4){
                grid-column: 1/3;
            }
            &:nth-child(2),&:nth-child(5){
                grid-column: 3/5;
            }
            &:nth-child(3),&:nth-child(6){
                grid-column: 5/7;
            }
            &__media{
                @include param(margin-bottom,24,16);
                @include param(height,262,220);
                @include param(border-top-left-radius,12,12);
                @include param(border-bottom-right-radius,12,12);
                overflow: hidden;
                width: 100%;
                &__val{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__title{
                @include font(700,24,36,20,30);
            }
        }
    }
    .h2_center{
        @include param(margin-bottom,64,32);
    }
    &__yellow{
        display: flex;
        flex-direction: column;
        background: $yellow;
        @include param(padding-top,80,60);
        @include param(padding-bottom,80,60);
        @include param(padding-left,80,20);
        @include param(padding-right,80,20);
        @include param(border-top-right-radius,64,64);
        @include param(border-bottom-left-radius,64,64);
        overflow: hidden;
        @media screen and (max-width: 1024px) {
            width: 100vw;
            margin-right: mb(-20);
        }
        &__desc{
            @include font(500,20,30,18,23);
            @include param(margin-top,32,24);
            @include param(max-width,922,335);
            @include param(margin-bottom,64,40);
        }
        &__list{
            display: flex;
            justify-content: center;
            @media screen and (max-width: 1024px) {
                flex-direction: column;
            }
        }
        &__item{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            @include param(height,80,60);
            @include param(min-width,254,335);
            @include param(border-top-right-radius,55,30);
            @include param(border-bottom-left-radius,55,30);
            overflow: hidden;
            background: white;
            &:not(:last-child){
                @include param(margin-left,32,0);
                @include param(margin-bottom,0,20);
            }
        }
    }
    &__btn{
        display: flex;
        justify-content: center;
        @include param(margin-top,-67,-18);
        @media screen and (max-width: 1024px) {
            width: mb(335);
        }
    }
    &__table{
        @media screen and (max-width: 1024px) {
            width: mb(335);
        }
        .h2{
            @include param(margin-bottom,80,32);
        }
        &__list{
            display: grid;
            @include param(column-gap,4,4);
            @include param(row-gap,4,4);
            grid-template-columns: dp(540)  1fr;
            @media screen and (max-width: 1024px) {
                grid-template-columns: 1fr  1fr;
            }
            @media screen and (min-width: 1440px){
                grid-template-columns: 540px  1fr;
            } 
            &_yellow .pr__table__title{
                background: $yellow;
                color: #1E1E20;
            }
            &_purple .pr__table__title{
                background: $purple;
            }
        }
        &__title{
            @include param(border-top-left-radius,4,4);
            @include font(700,24,36,20,30);
            @include param(padding-top,20,20);
            @include param(padding-bottom,20,20);
            @include param(padding-left,32,16);
            @include param(padding-right,32,16);
            background: $orange;
            color: #FFF;
            @media screen and (max-width: 1024px) {
                text-align: center;
            }
            &:first-child{
                @include param(border-top-right-radius,4,4);
            }
        }
        &__item{
            @include font(400,20,30,18,23);
            @include param(padding-top,26,15);
            @include param(padding-bottom,26,15);
            @include param(padding-left,32,16);
            @include param(padding-right,32,16);
            background: rgba(238, 238, 242, 0.40);
            color: #1E1E20;
            @media screen and (max-width: 1024px) {
                font-weight: 500;
            }
        }
    }
    &__desc{
        display: grid;
        grid-template-columns: 1fr;
        @include param(row-gap,18,15);
        & > ul{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr;
            @include param(row-gap,16,16);
            width: 100%;
            li{
                position: relative;
                @include param(padding-right,36,36);
            }
            li::before {
                content: '';
                display: inline-flex;
                @include param(width,24,24);
                @include param(height,24,24);
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                background: url(../img/template/ul1.svg) no-repeat;
                background-size: contain;
                right: 0;
                position: absolute;
                display: inline-flex;
            }
        }
    }
    .photo_orange_bottom .photo__wrapper{
        @include param(height,574,362);
    }
    .photo_orange_bottom{
        @include param(height,722,450);
    }
}

.div1{
    @include param(padding-top,130,24);
    @include param(margin-bottom,90,44);
    &__wrapper{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
        &_reverse{
            @media screen and (min-width: 1025px) {
                flex-direction: row-reverse;
            }
            .div1__img{
                @media screen and (max-width: 1025px) {
                    margin-top: mb(31);
                }  
            }
            .photo{
                transform: scale(-1,1);
                .photo__img{
                    transform: scale(-1,1);
                }
            }
            .div1__info{
                @include param(width,540,335);
            }
        }
    }
    &__info{
        align-self: flex-start;
        display: grid;
        grid-template-columns: 1fr;
        @include param(width,615,335);
        @include param(row-gap,32,16);
        .btn__wrapper{
            @include param(padding-top,0,16); 
        }
    }
    &__desc{
        @include font(400,24,32,20,30);
        color: #4F4F4F;
        display: grid;
        grid-template-columns: 1fr;
        @include param(row-gap,17,17);
    }
    &__img{
        @include param(width,588,335); 
        @include param(padding-top,90,0);
        @media screen and (max-width: 1024px) {
            margin-top: mb(31);
        }
        .photo_yellow_left{
            @include param(width,588,335); 
            @include param(height,498,308);
        }
        .photo_yellow_left .photo__wrapper{
            @include param(width,461,253); 
        }
        .photo__shape{
            @include param(width,256,154);
        }
    }
}
.div4{
    @media screen and (max-width: 1024px) {
        width: mb(335);
    }
    .h2{
        @include param(margin-bottom,30,24);
    }
    &__title{
        @include font(700,32,44,32,44);
        @include param(margin-bottom,30,27);
    }
    &__wrapper{
        position: relative;
        @include param(min-height,720,0);
        @include param(margin-top,64,47);
        @include param(margin-bottom,62,47);
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            background: $green;
            overflow: hidden;
            border-top-left-radius: mb(45);
            border-bottom-right-radius: mb(45);
            margin-right: mb(-20);
            width: 100vw;
        }
    }
    &__desc{
        @include font(400,24,32,20,30);
        @include param(margin-bottom,32,24);
        color: #4F4F4F;
    }
    &__info{
        @include param(width,925,335);
        @include param(min-height,678,0);
        overflow: hidden;
        position: relative;
        z-index: 0;
        color: #1D1D1B;
        @include param(padding-top,76,47);
        @include param(padding-bottom,70,61);
        @include param(padding-left,219,20);
        @include param(padding-right,75,20);
        @media screen and (max-width: 1024px) {
            z-index: 1;
            width: 100%;
        }
        &::before{
            content: '';
            background: url(../img/template/photoGreen2.svg) no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 0;
            @include param(width,926,0);
            @include param(height,660,0);
            z-index: -1;
        }
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr;
            @include param(row-gap,16,16);
            @include param(width,508,295);
            @include param(margin-bottom,32,24);
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            li{
                position: relative;
                @include param(padding-right,36,36);
            }
            li::before {
                content: '';
                display: inline-flex;
                @include param(width,24,24);
                @include param(height,24,24);
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                background: url(../img/template/ul.svg) no-repeat;
                background-size: contain;
                right: 0;
                position: absolute;
                display: inline-flex;
            }
        }
    }
    &__img{
        position: absolute;
        left: 0;
        @include param(top,100,0);
        z-index: -1;
        @media screen and (max-width: 1024px) {
            position: relative;
            margin-top: mb(-130);
            z-index: 0;
        }
        .photo_green{
            @include param(width,664,375);
            .photo__wrapper::after {
                border-width: 0 dp(298) dp(621) 0;
                @media screen and (max-width: 1024px) {
                    border-width: mb(159) mb(444) 0 0;
                }
                @media screen and (min-width: 1440px){
                    border-width: 0 298px 621px 0;
                }
            }
        }
    }
}
.div5{
    .h2{
        text-align: center;
        @include param(margin-bottom,21,32);
    }
    .container{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            @include param(width,1440,0);
            @include param(height,943,0);
            @include param(top,47,0);
            @include param(right,-88,-20);
            background: url(../img/template/bgBottomIndex.svg) no-repeat;
            background-size: contain;
            z-index: -1;
            @media screen and (min-width: 1440px) {
                left: calc( -1 * (100vw - 1264px) / 2 );
                right:auto;
            }
        }
    }
    &__btn{
        position: relative;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    .owl-carousel.off {
        display: block;
    }
    .owl-nav{
        @include param(padding-left,13,0);
        @include param(padding-right,19,0);
        position: absolute;
        width: 100%;
        @include param(top,145,0);
        left: 0;
        display: flex;
        justify-content: space-between;
        span{
            display: none;
        }
        .owl-prev, .owl-next{
            border: 1.5px solid #3B2463 !important;
            @include param(width,40,40);
            @include param(height,40,40);
            border-radius: 50%;
            background: transparent !important;
            transition: $transition;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &::after{
                content: '';
                background: url(../img/template/sliderArrow.svg) no-repeat;
                background-size: contain;
                @include param(width,10,10); 
                @include param(height,16,16); 
                display: inline-flex;
                transform: rotate(0deg);
            }
            &:hover{
                cursor: pointer;
            }
        }
        .owl-prev::after{
            transform: rotate(180deg);
        }
    }
    &__list{
        display: flex;
        @include param(width,1080,335);
        @include param(margin-right,78,0);
        direction: ltr;
        position: relative;
        .owl-stage-outer{
            @include param(padding-top,41,0);
            @media screen and (max-width: 1024px) {
                width: calc(100% + 5.33vw);
            }
        }
        .owl-item{
            @include param(padding-right,32,0);
            &.active{
                .div5__item{
                    @include param(border-bottom-left-radius,68,20);
                }
                & ~ .active{
                    .div5__item{
                        border-bottom-left-radius:0;
                        @include param(border-top-right-radius,68,20);
                    }
                }
            }
        }
        .owl-nav{
            display: none;
        }
        &::after{
            content: '';
            position: absolute;
            @include param(width,32,0);
            height: 100%;
            right: 0;
            top: 0;
            background: #fff;
            z-index: 1;
        }
    }
    &__item{
        border: 1px solid #EEEEF2;
        @include param(width,508,318);
        @include param(border-width,1,1);
        @include param(padding-top,40.69,24);
        @include param(padding-bottom,39.44,24);
        @include param(padding-left,34,20);
        @include param(padding-right,36.84,20);
        background: #fff;
        display: flex;
        justify-content: space-between;
        position: relative;
        direction: rtl;
        transition: $transition;
        @media screen and (max-width: 1024px) {
            flex-direction: row-reverse;
        }
        &__img{
            border-radius: 65%;
            @include param(width,140,52.24);
            @include param(min-width,140,52.24);
            @include param(height,177,66);
            @include param(margin-right,35.4,14);
            @include param(margin-top,-7,-6);
            display: inline-flex;
            overflow: hidden;
            position: relative;
            @media screen and (max-width: 1024px) {
                margin-left: mb(16);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            &::before{
                content: '';
                background: url(../img/content/index/sliderBg.svg) no-repeat;
                background-size: contain;
                position: absolute;
                @include param(left,1,1);
                @include param(bottom,6,1);
                @include param(width,134,50);
                @include param(height,134,50);
                overflow: hidden;
                border-radius: 53%;
            }
        }
        &__info{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__title{
            @include font(700,15.5,21.33,20,30);
            color: #000000;
            @media screen and (max-width: 1024px) {
                width: mb(210);
            }
        }
        &__title1{
            @include font(400,11.63,17.45,16,24);
            color: #828282;
            @media screen and (max-width: 1024px) {
                font-weight: 500;
                margin-bottom: mb(21);
                width: mb(210);
            }
        }
        &__desc{
            @include font(500,15.51,21.33,16,24);
            color: #4F4F4F;
            @media screen and (max-width: 1024px) {
                width: mb(278);
                margin-right: mb(-74);
            }
        }
    }
    &__dots{
        direction: ltr;
        display: flex;
        justify-content: center;
        @include param(padding-right,71,0);
        @include param(margin-top,-15,0);
        @include param(height,123,362);
        @media screen and (max-width: 1024px) {
            display: none;
            height: auto;
        }
        &__wrapper{
            display: inline-flex;
        }
        &__btn{
            background: none;
            cursor: pointer;
            @include param(width,70,16);
            @media screen and (max-width: 1024px) {
                height: mb(4);
                border-radius: mb(2);
                background: #3B2463;
            }
            &:not(:last-child){
                @include param(margin-right,24,4);
            }
        }
        .div5__item__img{
           transform: scale(.5); 
           margin-right:0;
           @media screen and (max-width: 1024px) {
            display: none;
           }
        }
    }
}
.master{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
            flex-direction: column-reverse;
        }
        &_reverse{
            flex-direction: row-reverse;
            @media screen and (max-width: 1024px) {
                flex-direction: column-reverse;
            }
            .photo_orange_bottom,.photo__img{
                transform: scaleX(-1);
            }
            .photo_reverse{
                transform: scaleX(1);
                .photo__img{
                    transform: scaleX(1);
                }
            }
        }
    }
    .content__wrapper_orange .content__item__img{
        background: rgba(#F36F21,.25);
    }
    &__info{
        @include param(width,613,335);
        @include font(400,24,32,18,23.44);
        @media screen and (max-width: 1024px) {
            font-weight: 500;
        }
    }
    &__img{
        @include param(width,558,335);
        align-self: flex-start;
        position: relative;
        @media screen and (max-width: 1024px) {
            margin-bottom: mb(33);
        }
        .photo{
            @include param(margin-right,0,0);
        }
    }
}