.content__accordion {
  list-style: none;
  width: 42.7777777778vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5555555556vw;
}
@media screen and (max-width: 1024px) {
  .content__accordion {
    width: 89.3333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion {
    width: 616px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion {
    row-gap: 2.1333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion {
    row-gap: 8px;
  }
}
.content__accordion__item {
  background: #FFFFFF;
  border: 1px solid #EEEEF2;
  border-width: 0.0694444444vw;
  padding-top: 1.6666666667vw;
  padding-bottom: 1.6666666667vw;
  padding-right: 1.6666666667vw;
  padding-left: 1.6666666667vw;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .content__accordion__item {
    border-width: 0.2666666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item {
    border-width: 1px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item {
    padding-top: 8.8vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item {
    padding-top: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item {
    padding-bottom: 8.8vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item {
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item {
    padding-right: 6.4vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item {
    padding-right: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item {
    padding-left: 6.4vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item {
    padding-left: 24px;
  }
}
.content__accordion__item_open .content__accordion__item__title::before {
  background: url(../img/template/minus.svg) no-repeat;
  background-size: contain;
  top: 0.7986111111vw;
}
@media screen and (max-width: 1024px) {
  .content__accordion__item_open .content__accordion__item__title::before {
    top: 3.0666666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item_open .content__accordion__item__title::before {
    top: 11.5px;
  }
}
.content__accordion__item_open .content__accordion__item__desc {
  height: var(--infoHeight);
  padding-top: 1.25vw;
}
@media screen and (max-width: 1024px) {
  .content__accordion__item_open .content__accordion__item__desc {
    padding-top: 3.2vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item_open .content__accordion__item__desc {
    padding-top: 18px;
  }
}
.content__accordion__item__title {
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 2.5vw;
  letter-spacing: 0;
  color: #000000;
  position: relative;
  padding-left: 4.4444444444vw;
}
@media screen and (max-width: 1024px) {
  .content__accordion__item__title {
    font-size: 5.3333333333vw;
    line-height: 8vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item__title {
    font-size: 24px;
    line-height: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item__title {
    padding-left: 17.0666666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item__title {
    padding-left: 64px;
  }
}
.content__accordion__item__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/template/plus.svg) no-repeat;
  background-size: contain;
  width: 1.1111111111vw;
  height: 1.0416666667vw;
}
@media screen and (max-width: 1024px) {
  .content__accordion__item__title::before {
    width: 4.2666666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item__title::before {
    width: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item__title::before {
    height: 4vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item__title::before {
    height: 15px;
  }
}
.content__accordion__item__desc {
  font-weight: 500;
  font-size: 1.1111111111vw;
  line-height: 1.6666666667vw;
  letter-spacing: 0;
  color: #1D1D1B;
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
  transition-property: height, padding-top;
  padding-top: 0vw;
  height: 0;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .content__accordion__item__desc {
    font-size: 4.2666666667vw;
    line-height: 6.4vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item__desc {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item__desc {
    padding-top: 0vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__accordion__item__desc {
    padding-top: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .content__accordion__item__desc {
    font-weight: 400;
  }
}
.content__list {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.8888888889vw;
}
@media screen and (max-width: 1024px) {
  .content__list {
    row-gap: 10.6666666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__list {
    row-gap: 56px;
  }
}
.content__wrapper {
  padding-bottom: 5.5555555556vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 6.9444444444vw;
       column-gap: 6.9444444444vw;
}
@media screen and (max-width: 1024px) {
  .content__wrapper {
    padding-bottom: 16vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__wrapper {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .content__wrapper {
    -moz-column-gap: 0vw;
         column-gap: 0vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__wrapper {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .content__wrapper {
    grid-template-columns: 1fr;
    background: rgba(238, 238, 242, 0.4);
    padding-top: 16vw;
    width: 100vw;
    margin-right: -5.3333333333vw;
    padding-left: 5.3333333333vw;
    padding-right: 5.3333333333vw;
  }
}
.content__wrapper.content__wrapper_purple .content__item__img {
  background: #EEEEF2;
}
.content__item {
  display: flex;
  justify-content: space-between;
}
.content__item__img {
  margin-left: 1.6666666667vw;
  width: 5.5555555556vw;
  min-width: 5.5555555556vw;
  height: 5.5555555556vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(233, 221, 255, 0.5);
  border-radius: 1.6666666667vw;
}
@media screen and (max-width: 1024px) {
  .content__item__img {
    margin-left: 5.3333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__img {
    margin-left: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .content__item__img {
    width: 12.8vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__img {
    width: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .content__item__img {
    min-width: 12.8vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__img {
    min-width: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .content__item__img {
    height: 12.8vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__img {
    height: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .content__item__img {
    border-radius: 4.2666666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__img {
    border-radius: 24px;
  }
}
.content__item__img img {
  width: 2.7777777778vw;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .content__item__img img {
    width: 8.5333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__img img {
    width: 40px;
  }
}
.content__item__info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.1111111111vw;
  font-weight: 400;
  font-size: 1.3888888889vw;
  line-height: 2.0833333333vw;
  letter-spacing: 0;
  color: #828282;
  flex-grow: 2;
}
@media screen and (max-width: 1024px) {
  .content__item__info {
    row-gap: 3.2vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__info {
    row-gap: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .content__item__info {
    font-size: 4.8vw;
    line-height: 6.1333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .content__item__info {
    font-size: 20px;
    line-height: 30px;
  }
}/*# sourceMappingURL=content.css.map */